body{
    background:url(/assets/background-first-page.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
#nav2{
    color:var(--dark);
    background-color: var(--header-hover);
}
.elemente{
    margin-top:8%;
    margin-left: 5%;
    width: 60%;
}
.titlu{
    color:var(--dark);
    font-size: 4.3rem;
    font-weight: 600;
    font-family: var(--font-secundar);
}

.citat{
    border-left: 3px solid var(--dark);
    padding-left: 2%;
    width:60%;
}
.citat p{
    font-size: 20px;
}
.btn{
    margin-top:10% ;
    width:10%;
}
.btn:hover{
    margin-top:9%;
}
.btn img{
    width:100%;
    height:auto;
}



  
  
